body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:40px;
}
.name-color{
    color:brown;
}
.content{
    display:flex;
}
.content-one{
    width:50%;
    margin-left: 30px;
}
.content-one p{
    padding-bottom: 7px;
}
.content-two{
    width:50%;
}
.content-two img{
    width:80%;
}
.button-hire{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(orange, brown);
    padding: 15px 20px;
    border-radius: 5px;
}

